#intro {
	margin: 0;
	padding: 0;
	min-width: 100vw;
	min-height: 100vh;
	background-image: url("../assets/Images/HomeSplash.jpg");
	background-size: cover;
}

#splash {
	position: absolute;
	color: white;
	margin: 20vh 0 0 10vw;
}
	#splash h1 {
		/*text-transform: uppercase;*/
		float: left;
		color: white;
		font-size: 55pt;
	}

	/*Directory*/
	#directory {
		margin: 0;
		padding: 0;
		width: 100vw;
		min-height: 100vh;
		background-color: #EBEBEB;
		color: #000000;
		overflow: hidden;
	}
		#directory #splash {
			right: -20px;
			margin-top:4em;
			position: absolute;
			-webkit-transform: rotate(-90deg);
	    transform: rotate(-90deg);
	  	-webkit-transform-origin: 50% 51%;
		}
			#directory #splash h1 {
				font-size: 15pt;
				color: #000000;
				margin: 0;
				padding: 0;
			}

/*About*/
#about {
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100vh;
	background-color: #1D1D1D;
	color: #FDFDFD;
}
	#about #splash {
		margin-top: 15px;
	}
		#about #splash h1 {
			font-size: 35pt;
			margin: 0;
			padding: 0;
		}

	#text-container {
		margin: 0 auto;
		text-align: center;
	}

	#text-box {
		font-size: 18pt;
		margin: 0 auto;
		width: 50vw;
		padding-bottom: 20px;
	}




.menu {
  -webkit-transition: 0.1s transform linear;
  transition: 0.1s transform linear;
  position: fixed;
  background: 0;
  float: left;
  margin: 2rem;
  height: 2.7rem;
  width: 3.5rem;
  z-index: 1;
  outline: 0;
  padding: 0;
  border: 0;
}

 .bar,  .bar::before,  .bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  position: absolute;
  background: #000;
  margin: 0 auto;
  width: 100%;
  height: 0.3rem;
  content: '';
  top: 50%;
  left: 0;
}
 .bar {
  margin-top: -0.2rem;
}
 .bar::before {
  top: -1.2rem;
}
 .bar::after {
  top: 1.2rem;
}
 .bar::before,  .bar::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
 .active .bar {
  background: 0;
}
 .active .bar::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
 .active .bar::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
 .active .bar::before,  .active .bar::after {
  top: 0;
}
 .active .bar,  .active .bar::before,  .active .bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
  transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
}

 nav {
  width: 100vw;
	text-align: center;
  height: 100vh;
  background: #eaeaea;
  position: fixed;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91), -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  padding-top: 14rem;
}
 .menu-open nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
 nav ul {
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
 nav ul li {
	display: inline;
  padding: 10px 5px;
  font-size: 2rem;
}
 nav ul li:hover {
  border-bottom: solid #000000 1px;
}

a {
	text-decoration: none;
	color: #000000;
}
