@font-face {
	font-family: 'gara';
	src: url('./Fonts/Garamond.ttf');
}

@font-face {
	font-family: 'nexa_bold';
	src: url('./Fonts/Nexa-Bold.otf');
}

@font-face {
	font-family: 'nexa_light';
	src: url('./Fonts/Nexa-Light.otf');
}

html, body {
  background-color: #EBEBEB;
	margin: 0;
	padding: 0;
	min-height: 100%;
	width: 100%;
	font-family: 'gara', 'nexa_light', serif;
}

select, input, textarea {
	font-family: 'gara', 'nexa_light', serif;
}

h1, p, {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'gara', 'nexa_bold';
}
