#intro {
	margin: 0;
	padding: 0;
	min-width: 100vw;
	min-height: 100vh;
	background-image: url("../assets/Images/HomeSplash.jpg");
	background-size: cover;
}

#splash {
	position: absolute;
	color: white;
	margin: 40vh 0 0 10vw;
}
	#splash h1 {
		/*text-transform: uppercase;*/
		float: left;
		color: white;
		font-size: 55pt;
	}

	/*Directory*/
	#directory {
		margin: 0;
		padding: 0;
		width: 100vw;
		min-height: 100vh;
		background-color: #EBEBEB;
		color: #000000;
		overflow: hidden;
	}
		#directory #splash {
			right: -20px;
			margin-top:4em;
			position: absolute;
			-webkit-transform: rotate(-90deg);
	    transform: rotate(-90deg);
	  	-webkit-transform-origin: 50% 51%;
		}
			#directory #splash h1 {
				font-size: 15pt;
				color: #000000;
				margin: 0;
				padding: 0;
			}

/*About*/
#about {
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100vh;
	background-color: #D9D9D9;
	color: #1D1D1D;
	overflow: hidden;
	background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100vh' width='100vw'><text x='-70' y='450' fill='#E3E3E3' font-size='550px' line-spacing='100px'>About</text></svg>");
	background-repeat: no-repeat;
}

#about #splash {
	right: 0;
	margin-top:4em;
	position: absolute;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 50% 51%;
}

#about #splash h1 {
	font-size: 15pt;
	color: #000000;
	margin: 0;
	padding: 0;
}

	#text-container {
		margin: 0 auto;
		margin-top: 20vh;
		text-align: center;
	}

	#text-box {
		font-size: 18pt;
		margin: 0 auto;
		padding: 40px 40px;
		width: 40vw;
		/*border: solid black 1px;*/
		box-shadow: 0px 10px 30px -10px #242323,
              0px 75px 75px -90px #000,
              0px -2px 2px -2px #FFF;
		text-align: left;
		background-color: #FFFFFF;
	}


.menu {
  -webkit-transition: 0.1s transform linear;
  transition: 0.1s transform linear;
  position: fixed;
  background: 0;
  float: left;
  margin: 2rem;
  height: 2.7rem;
  width: 3.5rem;
  z-index: 1;
  outline: 0;
  padding: 0;
  border: 0;
}

 .bar,  .bar::before,  .bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  position: absolute;
  background: #000;
  margin: 0 auto;
  width: 100%;
  height: 0.3rem;
  content: '';
  top: 50%;
  left: 0;
}
 .bar {
  margin-top: -0.2rem;
}
 .bar::before {
  top: -1.2rem;
}
 .bar::after {
  top: 1.2rem;
}
 .bar::before,  .bar::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
 .active .bar {
  background: 0;
}
 .active .bar::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
 .active .bar::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
 .active .bar::before,  .active .bar::after {
  top: 0;
}
 .active .bar,  .active .bar::before,  .active .bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
  transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
}

 nav {
  width: 100vw;
	text-align: center;
  height: 100vh;
  background: #eaeaea;
  position: fixed;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91), -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  padding-top: 8rem;
}
 .menu-open nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
 nav ul {
	display: inline-block;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
 nav ul li {
	display: inline-block;
  padding: 10px 50px;
  font-size: 2rem;
}
 nav ul li:hover {
  border-bottom: solid #000000 1px;
}

a {
	text-decoration: none;
	color: #000000;
}
