.contain{
  padding: 0 1.5rem;
  overflow: hidden;
}

.criteria {
  margin-top: 9em;
  text-align: center;
}

.search-criteria {
  margin: 0 auto;
  width: 210px;
  border-bottom: solid black 1.5px;
  margin-bottom: 6em;
}
