#multiple-datasets {
  text-align: center;
  margin: 0 auto;
  padding-top: 5em;
  background-color: #EBEBEB;
}

.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    /*width: 396px;*/
    width: 70vw;
    background-color: #EBEBEB;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: none;
    outline: none;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #EBEBEB;
}

.tt-hint {
    color: #999;
}

.tt-menu {
    /*width: 422px;*/
    width: 72vw;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #EBEBEB;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    text-align: start;
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor, .tt-suggestion p:hover {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0 20px;
}

.contain{
  padding: 0 1.5rem;
  overflow: hidden;
}

.criteria {
  margin-top: 5em;
  text-align: center;
}

.search-criteria {
  margin: 0 auto;

}

.search-line {
  border-top: solid black 1.5px;
  margin: 0 auto;
  width: 180px;
  margin-bottom: 6em;
}
